<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Emploee of the Month</title>
        <link rel="stylesheet" href="/css/style.css">
    
    </head>
        <body>
            <main>
                 <form class="user-form" action="" method="POST">
                    <div class="form-control">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" value="Homer Simpson">
                    </div>
                    <div class="form-control">
                        <label for="imageUrl">Image URL</label>
                        <input type="text" name="imageUrl" id="imageUrl" value="https://pyxis.nymag.com/v1/imgs/a22/179/b205a78510315d932427143ad6b6fb5694-03-homer-simpson-doughnuts.rsquare.w700.jpg">
                    </div>
                    <div class="form-control">
                        <label for="achievement">Achievement</label>
                        <input type="text" name="achievement" id="achievement" value="101 days without an accident">
                    </div>
                        <button class="btn" type="submit">Edit Emploee</button>                        
                </form>  
            </main>
        </body>
    </html>