<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Emploee of the Month</title>
        <link rel="stylesheet" href="/css/style.css">
    
    </head>
    <body>     
        <main>
        <% if (users.length > 0) { %>
        <% for (let user of users) { %>
            <div class = "holder">
                <h1>Emploee of the month</h1>
                <div class = "avatar">
                    <a href="./form">
                        <img src="<%= user.imageUrl %>" class="user"/>
                    </a>
                    <h1 class="user__name"><%= user.name %></h1>
                    <h1 class="user__achievement"><%= user.achievement %></h1>
                </div>                
               <% } %>
            </div>
          <% } else { %>
          <a href="./form">
          <h1>Nothing Found! Fill the form!</h1>
           </a>
         <% } %>
        </main>
    </body>
    </html>